@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");

$fontstack: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
  sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

html {
  min-height: 100%;
  color: #404040;
  font-family: $fontstack;
  font-size: 16px;
  line-height: 1.5;
}

.main {
  margin: 0 auto;
  max-width: 1220px;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

.pokegrid {
  display: grid;
  //grid-gap: 2rem 0.75rem;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
}

.pokemon {
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;

  .name {
    font-family: "Nunito Sans", $fontstack;
    font-weight: 600;
  }

  .no {
    color: #737373;
    font-size: 0.875rem;
  }

  input.nickname {
    font-family: "Nunito Sans", $fontstack;
    background: none;
    line-height: inherit;
    text-align: center;
    padding: 0;
    border: 0;
    // color: #615DF9;
    font-weight: 700;
    outline: none;
  }

  &.named {
    background-color: #ffcce0;
  }
}

.pokemon-image {
  img {
    max-width: 100%;
    width: 128px;
    height: 128px;
  }
}

.hidden {
  display: none;
  pointer-events: none;
}
