@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;700&display=swap");

$fontstack: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

$nunito: "Nunito Sans", $fontstack;

html {
    min-height: 100%;
    color: #404040;
    font-family: $fontstack;
    font-size: 16px;
    line-height: 1.5;
}

body {
}

a {
    color: initial;
    text-decoration: none;
}

.main {
    margin: 0 auto;
    max-width: 1228px;

    & > * { 
        padding: 0 8px;
    }
}

h1 {
    margin: 0;
}

.logo {
    img {
        width: 320px;
    }
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

.pokegrid-wrapper {
    padding: 8px;
}
.pokegrid {
    display: grid;
    //grid-gap: 2rem 0.75rem;
    //   grid-gap: 0.5rem;
    grid-gap: 8px;
    //   grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));

    .block {
        position: relative;
        height: 180px;
    }

    input.nickname {
        font-family: $nunito;
        background: none;
        line-height: inherit;
        text-align: center;
        padding: 0;
        border: 0;
        // color: #615DF9;
        font-weight: 700;
        outline: none;
    }
}

.pokemon {
    order: 2;
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;

    .name {
        font-family: $nunito;
        font-weight: 600;
    }

    .no {
        color: #737373;
        font-size: 0.875rem;
    }

    &.named {
        background-color: #ffcce0;
    }
}

.pokemon-image {
    img {
        max-width: 100%;
        width: 128px;
        height: 128px;
        margin-top: -10px;
    }
}

.pokegrid {
    .team-block {
        --text-color: white;
        order: 1;
        height: 190px;
        font-family: $nunito;
        font-weight: 700;
        background-color: #646eab;
        color: var(--text-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .content {
            z-index: 1;
            width: 100%;
            height: 180px;
            display: flex;
            flex-direction: column;

            background-image: url("./src/img/pokeball-accent.png");
            background-repeat: no-repeat;
            background-size: cover;
            // background-size: 122%;

            input.nickname, .name {
                color: var(--text-color);
                text-align: center;
                margin-top: auto;
                margin-bottom: auto;
                font-size: 1.2em;
                margin: auto 3px;
            }

            .madewith {
                font-size: 0.875rem;
                font-family: $fontstack;
                text-align: center;
                font-weight: initial;
                margin-bottom: 10%;

                a, .url {
                    color: var(--text-color);;
                    border-bottom: 1px solid var(--text-color);;
                    padding-bottom: 3px;
                }
            }
        }
    }
}

.floating-ui {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    font-family: $nunito;
    z-index: 100;
}

.btn {
    display: flex;
    user-select: none;
    font-family: $nunito;
    background: #333;
    color: #fff;
    border: 0;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-left: 5px;

    &:hover {
        background: #333;
    }
}

.exporter {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99999998;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    #btn_exporter_close {
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
    }

    canvas {
        // position: fixed;
        // top: 0px;
        // left: 0px;
        max-width: 95%;
        z-index: 99999999;
        transition: transform 0.3s cubic-bezier(0.42, 0, 0.58, 1) 0s,
            opacity 0.3s cubic-bezier(0.42, 0, 0.58, 1) 0s,
            -webkit-transform 0.3s cubic-bezier(0.42, 0, 0.58, 1) 0s;
    }

    #btn_save {
        position: absolute;
        bottom: 40px;
        background: #ffcce0;
        color: black;
    }
}

.hidden {
    display: none;
    pointer-events: none;
}

.pokeball {
    //position: absolute;
    width: 100%;
    // margin-top: -100%;

    // svg {
    //     width: 100%;
    //     height: auto;
    //     fill: rgba(0,0,0,.15);
    //     //transform: rotate(16deg);
    // }
}

.download {
    display: block;
    width: 24px;
    height: 24px;
}

.type-picker {
    margin-bottom: 8px;
}

.types {
    display: flex;

    .type {
        width: 30px;
        // height: 30px;
        aspect-ratio: 1;
        &:not(:last-child) {
            margin-right: 5px;
        }

        &.selected {
            outline: 4px solid black;
            outline-offset: 1px;
        }
    }
}

.pokegrid.filtered {
    // width: 600px;
    // height: 600px;
    .no {
        // display: none;
    }
    .pokemon {
        background-color: #f2f2f2;
        order: 1;
    }
    .team-block {
        order: 2;
    }
    .pokemon:not(.named) {
        display: none;
    }

    .pokemon {
        input.nickname {
            width: 100%;
            color: #404040;
            font-weight: 700;
        }
    }
}